* {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
	background-image: url('images/brickwall.png');
}

.shadow_block {
	display: none;
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: rgba(0,0,0,.5);
	z-index: 120;
	cursor: pointer;
}

.order_block {
	position: absolute;
	background-color: #fff;
	border-radius: 0px;
	height: 400px;
	width: 400px;
	z-index: 200;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;
	text-align: center;
}

.title_modal {
	position: relative;
	background-color: #3C3D3F;
	color: #fff;
	padding: 15px 0px 15px 15px;
}

input, textarea{
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid rgb(119, 130, 142);
	height: 40px;
	margin: 20px 0px 5px 0px;
	width: 300px;
	padding-left: 5px;
	transition: all 0.5s ease;
	box-sizing: border-box;
}

textarea {
	height: 100px;
}

.sub:hover {
	background-color: #3C3D3F;
	color: #fff;
	cursor: pointer;
	opacity: 0.8;
}

#content{
	position: absolute;
	top:0; bottom:0;
	left: 0; right: 0;
}

header {
	position: relative;
	background-image: url('images/apache.jpg');
	height: 300px;
  background-size: cover;
}

@-moz-document url-prefix() {
  p {
    line-height: 1.2
  }
}

#container {
	width: 900px;
	height: auto;
	background-color: #fff;
	margin: 0 auto;
  box-shadow: 0 2px 10px;
}


.logo-image {
	display: inline-block;
  position: relative;
  width: 200px;
  height: 50px;
  margin-left: 100px;
  margin-top: 5px;
  background-color: #3C3D3F;
  opacity: 0.8;
  border-radius: 10px;
  margin-top: 50px;
}

.logo-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.menu {
  width: 100%;
  height:30px;
  bottom: 0;
  background-color: #3C3D3F;
  opacity: 0.8;
  padding-top: 10px;
	margin-top: -40px;
  box-shadow: 0 2px 10px;
}

@-moz-document url-prefix() {
  .menu {
    padding-bottom: 3px;
    padding-top: 2px;
		margin-top: -35px;
  }
}

.menu a {
  text-decoration: none;
  color: #fff;
  margin-left: 130px;
  font-weight: bold;
  transition: all 0.5s ease;
}

.menu a:hover {
  color: #78ADDE;
}

footer a {
  color: #fff;
}

.content {
  margin: 50px 0px 0px 40px;
}

.content-text {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: auto;
  text-align: justify;
}

.content_image {
  display: inline-block;
  width: 400px;
  height: auto;
  margin-left: 15px;
}

.content_image img {
  width: 100%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

@-moz-document url-prefix() {
  .content_image {
   	vertical-align: top;
    margin-top: 10px;
  }
}

.about-text {
  width: 820px;
  height: auto;
  text-align: justify;
  margin-top: 4px;
}

footer {
  width: 100%;
  background-color: #3C3D3F;
  height: auto;
  padding: 20px 0px 20px 0px;
  text-align: center;
  margin-top: 60px;
  color: #fff;
  opacity: 0.8;
}

.foot {
	width: 450px;
	margin: auto;
	margin-top: 50px;
	z-index: 1;
}

.foot img {
	width: 40px;
	height: 40px;
	margin-bottom: 15px;
	margin-right: 10px;
}

.foot p {
	text-align: center;
	font-size: 30px;
}

.contacts_order {
	text-align: center;
	vertical-align: middle;
	width: 335px;
	height: auto;
	margin: auto;
}

.button_order {
	border: 1px solid #77828e;
	border-radius: 5px;
	height: 30px;
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;
 	padding-top: 15px;
 	transition: all 0.5s ease;
	text-align: center;
	opacity: 0.8;
}

@-moz-document url-prefix() {
  .button_order {
		padding-bottom: 10px;
  }
}

.button_order:hover {
	background-color: #3C3D3F;
	color: #fff;
	cursor: pointer;
}

.prices {
	display: block;
	margin: auto;
	width: 400px;
	height: auto;
	margin-top: 50px;
}

.link_price[href$='.xls'] {
	background: url('images/icon_xls.gif') no-repeat center right;
	padding-right: 20px;
	color: #78ADDE;
	text-decoration: none;
}

.link_price:hover {
	text-decoration: underline;
}

.order_mobile {
	display: none;
}

#menu_icon {
	display: none;
}

.page_name {
	display: none;
}

@media only screen and (min-device-width : 319px) and (max-device-width : 800px) {
	body {
		background-color: #ffffff;
	}

	.menu {
		display: none;
		width: 100%;
	  height: auto;
	  bottom: 0;
	  background-color: #3C3D3F;
	  padding-top: 4px;
		margin-top: 0px;
	  box-shadow: 0 2px 10px;
	}

	#menu_show_hide.show{display: block}

	.menu a {
		display: block;
		text-align: center;
		padding-bottom: 10px;
		margin-left: 0px;
	  font-weight: bold;
		font-size: 20px;
		transition: none;
	}

	.menu a:hover {
	  color: #fff;
	}

	#container {
	  box-shadow: none;
		width: 100%;
	}

	header {
		padding-top: 30px;
		height: 270px;
	}

	.logo-image {
		display: block;
	  position: relative;
	  width: 80%;
		margin: 0 auto;
	  background-color: #3C3D3F;
	  opacity: 0.8;
	  border-radius: 10px;
	  margin-top: 50px;
	}

	.content-text {
		display: block;
	  font-size: 15px;
		width: 100%;
		height: auto;
		text-align: justify;
		margin: auto;
		padding: 0 10px;
		box-sizing: border-box;
	}

	.content_image {
	  display: block;
	  width: 100%;
	  height: auto;
	  margin: auto;
		margin-top: 40px;
		padding: 0 10px;
		margin-bottom: 40px;
		box-shadow: none;
		box-sizing: border-box;
	}

	.content_image img {
	  width: 100%;
	}

	.about-text {
		margin: auto;
	  width: 100%;
	  height: auto;
	  text-align: justify;
		font-size: 15px;
		padding: 0 10px;
		box-sizing: border-box;
	}

	.content {
		margin-top: 50px;
		margin-left: 0px;
	}

	.prices {
		font-size: 20px;
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
		box-sizing: border-box;
	}

	#container{width: 100%;}

	.foot {
		width: 90%;
		margin: auto;
		margin-top: 50px;
		margin-bottom: 20px;
		z-index: 1;
	}

	.foot img {
		width: 40px;
		height: 40px;
		margin-bottom: 15px;
		margin-right: 10px;
	}

	.foot p {
		text-align: center;
		font-size: 45px;
	}

	span {
		font-size: 20px;
	}

	.contacts_order {
		text-align: center;
		vertical-align: middle;
		width: 335px;
		height: auto;
		margin: auto;
		margin-bottom: 40px;
	}

	.button_order {
		display: none;
	}

	.order_block {
		position: absolute;
		background-color: #fff;
		border-radius: 0px;
		height: 700px;
		width: 700px;
		z-index: 200;
		top: 50%;
		left: 50%;
		margin-left: -200px;
		margin-top: -200px;
	}

	.title_modal {
		position: relative;
		background-color: #3C3D3F;
		color: #fff;
		padding: 15px 0px 15px 15px;
	}

	input, textarea{
		background-color: #fff;
		border-radius: 5px;
		border: 1px solid rgb(119, 130, 142);
		height: 40px;
		margin: 0;
		width: 100%;
		box-sizing: border-box;
		font-size: 20px;
	}

	textarea {
		height: 100px;
		margin-top: 20px;
	}

	.order_mobile {
		display: block;
		font-size: 45px;
		text-align: center;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;
	}

	.menu_show {
		display: block;
		margin-top: 120px;
		width: 100%;
	  height: 50px;
	  background-color: #3C3D3F;
		text-align: right;
	}

	.menu_show img {
		width: 50px;
		padding-top: 2px;
		padding-right: 5px;
		padding-bottom: 5px;
		box-sizing: border-box;
	}

	#menu_icon {
		display: inline-block;
		width: 50px;
	}

	.page_name {
		display: inline-block;
		width: 200px;
		height: 50px;
		float: left;
		text-align: left;
		color: #fff;
	}

	.sub_mobile {
		border: 1px solid #3C3D3F;
		background-color: #fff;
		border-radius: 5px;
		height: auto;
		width: 100%;
		margin: 0 auto;
		margin-top: 10px;
		padding-top: 0px;
		transition: all 0.5s ease;
		text-align: center;
		font-size: 30px;
	}

	.name {
		display: block;
		margin-top: 13px;
		margin-left: 5px;
	}
}
