* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../images/brickwall.png');
}	

#authorization {
	margin: 0 auto;
	width: 315px;
	height: 200px;
	background-color: #000;
	padding: 50px;
	border-radius: 10px; 
	background-color: #3C3D3F;
    opacity: 0.8;
    margin-top: 10%;
    box-shadow:
   		inset rgba(0,0,0,.5) -3px -3px 8px,
   		inset rgba(255,255,255,.9) 3px 3px 8px,
   		rgba(0,0,0,.8) 3px 3px 8px -3px;
}

#authorization  a {
	color: #fff;
	margin-left: 100px;
}

input {
	width: 300px;
	height: 50px;
	padding: 5px;
	margin-bottom: 5px;	
	font-size: 20px;
	border-radius: 10px; 
	border: none;
	color: #3C3D3F;
	box-sizing: border-box;
}

.sub {
	height: 40px;
	color: #fff;
	background-color: #6496c8;
	text-shadow: -1px 1px #417cb8;
	border: none;
	cursor: pointer;
}

.sub:hover,
.sub.hover {
	background-color: #346392;
	text-shadow: -1px 1px #27496d;
}
.sub:active,
.sub.active {
	background-color: #27496d;
	text-shadow: -1px 1px #193047;
}

input:last-child {
	margin-bottom: 0px;	
}

.menu {
    position: absolute;
    width: 100%;
    height:30px;
    background-color: #3C3D3F;
    opacity: 0.8;
    padding-top: 10px;
    box-shadow: 0 2px 20px;
    min-width: 1300px;
}

 @-moz-document url-prefix() {
   .menu {
     padding-bottom: 2px;
     padding-top: 7px;
   }
}

.menu a {
    text-decoration: none;
    color: #fff;
    margin-left: 170px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.menu a:hover {
    color: #78ADDE;
}

 @-moz-document url-prefix() {
   .menu a {
	margin-left: 140px;
   }
}

.rep {
	border: 1px solid #77828e;
	background-color: #3C3D3F;
    opacity: 0.8;
	border-radius: 5px;
	color: #fff;
	height: 50px;
    width: 200px;
    margin-left: 5px;  
    font-size: 20px;
 	transition: all 0.5s ease;
}

.rep:hover {
	color: #78ADDE;
	cursor: pointer;
}

img {
	max-width: 600px;
}